/* .all {
  display: flex;
}

.navcontainer {
  border: 2px solid black;
  width: 15%;
  height: 90vh;
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  background-color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 8px 0;

}

ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-top: 25px;
}
a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 100%;
  height: 10%;
}
.inputSearch {
  width: 80%;
  height: 3%;
  border-radius: 5px;
}
.profile {
  cursor: pointer;
}
.secondSection {
  color: black;
  margin-top: 100px;
  margin-left: -20px;
  margin-right: 30px;
}
.firstSection {
  color: black;
} */
.all {
  height: 90vh;

  display: flex;
  justify-content: center;
  position: relative;
}
.navcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  max-width: 250px;
  padding: 16px 8px;
  width: 100%;
  margin: auto;

  border-radius: 10px;
}
.logo {
  width: 100%;
}
ul {
  display: flex;
  flex-direction: column;
}
ul li {
  list-style: none;
  text-decoration: none;
  color: black;
  margin-top: 25px;
}
a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 100%;
}
input {
  width: 80%;
  border-radius: 5px;
  padding: 5px;
  color: black;
}
.profile {
  cursor: pointer;
}
